<a href="https://colab.research.google.com/github/Badal-28/Airline-Project/blob/main/Airline1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
csv1=pd.read_csv("/content/preprocessed_airline_dataset.csv")#Put the dataset here.....
csv1.head()

,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
0,service was mediocre at best,Gary Storer,03-10-2023,United Kingdom,"Just returned from Chicago, flew out 10 days ...",A380,Couple Leisure,Economy Class,Chicago to Manchester via Heathrow,01-10-2023,no,Not Verified,2,2,3,1,2,2,-1
1,BA standards continue to decline,A Jensen,02-10-2023,United Kingdom,BA standards continue to decline every time ...,A320,Business,Business Class,London Heathrow to Munich,01-09-2023,no,Verified,2,2,1,2,1,1,-1
2,"won the race to the bottom""",John Rockett,02-10-2023,United Kingdom,Awful. Business class check in queue just as...,A320,Couple Leisure,Business Class,Heathrow to Istanbul,01-09-2023,no,Not Verified,2,2,3,2,1,1,-1
3,Not a reliable airline,Tatiana Bobrovskaya,02-10-2023,United Kingdom,Not a reliable airline. You cannot trust the...,A320,Business,Economy Class,London to Geneva,01-10-2023,no,Verified,3,4,4,2,1,1,-1
4,Very disappointed,Tom Slowbe,28-09-2023,United States,"The airplanes and the lounges are worn out, o...",777-300 and A320,Couple Leisure,First Class,Dallas to Dubrovnik via Heathrow,01-09-2023,no,Verified,1,1,4,4,3,2,3

In [ ]:
csv1[csv1["aircraft"]=="A380"]#Find all the A380 Flights....

In [ ]:
csv1[csv1["trip_verified"]=="Verified"]#Remove all the Not Verified Flight....

In [ ]:
csv1[csv1["rating"]>8]#Find all the flight details with rating above 8

In [ ]:
csv1[csv1["traveller_type"]=="Couple Leisure"]['aircraft'].value_counts()#Find the no.of passenger who are Couple Leisure  carried by each aircraft

In [ ]:
csv2=csv1[(csv1["aircraft"]=="A320" )& (csv1["traveller_type"]=="Couple Leisure")]#A320 Flight carried more people with couple leisure
csv2.sort_values("date")#Sort by date

In [ ]:
csv3=csv1["rating"].min()#Find the lowest rating
#csv3
csv4=csv1[(csv1["rating"]==csv3) & (csv1["seat_type"]=="Business Class")]#Find all flights with business seat type who has provided the lowest rating
csv4

In [ ]:
df=(csv1["rating"]+csv1["seat_comfort"]+csv1["cabin_staff_service"]+csv1["food_beverages"]+csv1["ground_service"]+csv1["value_for_money"]+csv1["entertainment"])/7
csv1["Average"]=df#Created a new column in original CSV file
#csv1.to_csv("Airline.csv",index=False)

In [ ]:
csv5=csv1["Average"].max()#Finding the maxm Average value
csv5

In [ ]:
csv6=csv1[csv1["Average"]<3]#List all the disappointed Passenger
csv6

In [ ]:
csv7=csv6['aircraft'].value_counts()#Aircraft carried no.of disappointed passenger
csv7

In [ ]:
csv6[csv6["seat_comfort"]<3]["aircraft"].value_counts()#Seat discomfortability

In [ ]:
csv6[csv6["cabin_staff_service"]<3]["aircraft"].value_counts()#Cabin staff discomfartability

In [ ]:
csv6[csv6["food_beverages"]<3]["aircraft"].value_counts()#Food prblm

In [ ]:
csv1['author'].value_counts()#Find all the authors how many times did they travel???

In [ ]:
csv1[csv1["value_for_money"]==5]['author'].value_counts()#Find all the authors who gave 5 star and how many times did the give?

In [ ]:
csv1["place"].value_counts()#Find out the place from which highest no.of flight took place???

In [ ]:
csv1[csv1["place"]=="India"]#Find all the flights which started from India???

In [ ]:
csv1[csv1['recommended']=="yes"]["aircraft"].value_counts()#A320 is the most recommended flight.

In [ ]:
csv1[csv1['recommended']=="no"]["aircraft"].value_counts()

In [ ]:
print(102/(102+161))## A320
print(63/(63+61))## A380
print(58/(58+119))## Boeing 777
#(greater rec ratio A380)
#(least rec ratio Boeing 777)

In [ ]:
csv1["aircraft"].value_counts()#A320 is the busiest flight

In [ ]:
csv8=csv1[csv1['value_for_money']==5]#Author who gave 5 star for value for money & their seat type belongs to Buisness Claass
csv8[csv8["seat_type"]=="Business Class"]

In [ ]:
csv1['place'].value_counts()#UK is the busiest place

In [ ]:
csv9=csv1[csv1["seat_type"]=="Economy Class"]#A320 is that flight which carried more no. of economy class passneger
csv9["aircraft"].value_counts()

In [ ]:
csv10=csv1[csv1['rating']==1]#Economy class people has more no. of disappointed passenger
csv10["seat_type"].value_counts()

In [ ]:
csv11=csv1[csv1['rating']<=3]#UK is that route in which average rating is less than or equal to 3
csv11["route"].value_counts()

Johannesburg to London             8
London to Johannesburg             8
Cape Town to London                7
Vancouver to London                7
LHR to HKG                         6
                                  ..
London Heathrow to Austin          1
Hong Kong to London                1
Buenos Aires to London Heathrow    1
Malaga to London                   1
SVQ to LGW                         1
Name: route, Length: 519, dtype: int64

In [ ]:
csv1.corr()

<ipython-input-39-24926527b221>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  csv1.corr()

,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment,Average
rating,1.000000,-0.001596,0.001825,-0.015374,0.043972,0.012776,0.031366,0.428013
seat_comfort,-0.001596,1.000000,0.619069,0.550351,0.539375,0.684306,0.316535,0.716008
cabin_staff_service,0.001825,0.619069,1.000000,0.651218,0.504654,0.654288,0.232660,0.711779
food_beverages,-0.015374,0.550351,0.651218,1.000000,0.452803,0.625017,0.413372,0.734034
ground_service,0.043972,0.539375,0.504654,0.452803,1.000000,0.611945,0.244572,0.660798
value_for_money,0.012776,0.684306,0.654288,0.625017,0.611945,1.000000,0.285716,0.750510
entertainment,0.031366,0.316535,0.232660,0.413372,0.244572,0.285716,1.000000,0.563299
Average,0.428013,0.716008,0.711779,0.734034,0.660798,0.750510,0.563299,1.000000